

    

    
                <title>Item Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
       
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
            <i class="fas fa-handshake fa-5x"></i>
            
        
                <h2> <%= @item[:item_name] %>
                </h2>

                <p> Description: <%= @item[:description] %></p>

                <p> Condition: <%= @item[:condition] %></p>

                <p> Category: <%= @item[:item_type] %></p>

                <p> Price: <%= @item[:price] %></p>

                <p> Pick up location: <%= @item[:location] %></p>

                <p> Available for Sale? <%= @item[:status_available] %></p>

                 <p class="mt-5">
                <% if @current_user %>
                <a href="/items/<%= @item[:id] %>/customer_input/new" class="btn btn-primary">BUY NOW</a>
                <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to purchase</a>
                <% end %>
                </p>
                
                

            </div>
        </div>
    </div>