<h1>All Items by Location</h1>

<h2> <%= @places[0][:location] %> </h2>


<% for item in @items %>
    <p><a href="/items/<%= item[:id] %>"><%= item[:item_name] %></a></p>
    <p><%= item[:description] %></p>
<% end %>


<h2> <%= @places[1][:location] %> </h2>


<% for item in @items%>
    <p><a href="/items/<%= item[:id] %>"><%= item[:item_name] %></a></p>
    <p><%= item[:description] %></p>
<% end %>


<h2> <%= @places[2][:location] %> </h2>


<% for item in @items %>
    <p><a href="/items/<%= item[:id] %>"><%= item[:item_name] %></a></p>
    <p><%= item[:description] %></p>
<% end %>